# Platform.IO
.clang_complete
.gcc-flags.json
.travis.yml
.pioenvs
.piolibdeps
test
lib
include
platformio.ini
TODO.txt
secrets.h

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
